<div class="container-fluid">
  <div *ngIf="isLoading" class="loading">
    <div class="spinner-border spinner-center" role="status"></div>
  </div>
</div>

<div class="row">
  <h2 class="col-11">{{title}}</h2>
  <span class="col-1 fs-4" (click)="onDismiss()"><i class="fa-solid fa-xmark"></i></span>
</div>

<div class="row">
  <form [formGroup]="formGroup">
    <div class="row">
      <div class="col-4">
        <div class="custom-dropzone-avt" ngx-dropzone [accept]="'image/*'" (change)="onSelectAvt($event)" [multiple]='false'>
          <ngx-dropzone-label style="font-size: 12px">Ảnh đại diện</ngx-dropzone-label>
          <ngx-dropzone-image-preview *ngIf="fileAvt.length > 0" ngProjectAs="ngx-dropzone-preview" class="imgAvt"
                                      [file]="fileAvt[0]"
                                      [removable]="true"
                                      (removed)="onRemoveAvt()">
          </ngx-dropzone-image-preview>
        </div>
        <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
          <ngx-dropzone-label style="font-size: 12px">Hình ảnh sản phẩm</ngx-dropzone-label>
          <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
                                      [removable]="true" (removed)="onRemove(f)">
          </ngx-dropzone-image-preview>
        </div>
        <mat-dialog-actions class="d-flex justify-content-center align-items-center">
          <button type="button" mat-raised-button color="primary" (click)="onSubmit()">
            <span><i class="fa-solid fa-check"></i> Lưu</span>
          </button>
          <button type="button" mat-raised-button color="warn" (click)="onDismiss()">
            <span><i class="fa-regular fa-circle-xmark"></i> Đóng</span>
          </button>
        </mat-dialog-actions>
      </div>
      <div class="col-8">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Tên sản phẩm</mat-label>
          <input type="text" matInput placeholder="..." formControlName="name">
          <mat-error *ngIf="formGroup.get('name')?.hasError('required') && formGroup.get('name')?.touched">
            Vui lòng không bỏ trống tên sản phẩm chi tiết!
          </mat-error>
          <mat-error *ngIf="formGroup.get('name')?.hasError('minlength') && formGroup.get('name')?.touched">
            Tên sản phẩm chi tiết tối thiểu 4 ký tự!
          </mat-error>
        </mat-form-field>

        <div class="row">
          <mat-form-field class="w-100" appearance="outline" class="col-6">
            <mat-label>Giá sản phẩm</mat-label>
            <input type="number" matInput placeholder="..." formControlName="price">
            <mat-error *ngIf="formGroup.get('price')?.hasError('required') && formGroup.get('price')?.touched">
              Vui lòng không bỏ trống giá sản phẩm chi tiết!
            </mat-error>
            <mat-error *ngIf="formGroup.get('price')?.hasError('min') && formGroup.get('price')?.touched">
              Giá sản phẩm chi tiết tối thiểu 10.000 VNĐ!
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-100" appearance="outline" class="col-6">
            <mat-label>Số lượng sản phẩm</mat-label>
            <input type="number" matInput placeholder="..." formControlName="quantity">
            <mat-error *ngIf="formGroup.get('quantity')?.hasError('required') && formGroup.get('quantity')?.touched">
              Vui lòng không bỏ trống số lượng sản phẩm chi tiết!
            </mat-error>
            <mat-error *ngIf="formGroup.get('quantity')?.hasError('min') && formGroup.get('quantity')?.touched">
              Số lượng sản phẩm chi tiết tối thiểu là 1!
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="col-6">
            <mat-label>Giới tính sản phẩm</mat-label>
            <mat-select disableRipple formControlName="gender">
              <mat-option [value]='true'>Nam</mat-option>
              <mat-option [value]='false'>Nữ</mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.get('gender')?.hasError('required') && formGroup.get('gender')?.touched">
              Vui lòng không bỏ trống giới tính sản phẩm chi tiết!
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-6">
            <mat-label>Trạng thái sản phẩm</mat-label>
            <mat-select disableRipple formControlName="status">
              <mat-option [value]='1'>Còn kinh doanh</mat-option>
              <mat-option [value]='0'>Ngừng kinh doanh</mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.get('status')?.hasError('required') && formGroup.get('status')?.touched">
              Vui lòng không bỏ trống trạng thái sản phẩm chi tiết!
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="col-6" formGroupName="product">
            <mat-label>Dòng sản phẩm</mat-label>
            <mat-select formControlName="id">
              <mat-option (click)="createProduct()">-- Thêm dòng sản phẩm mới --</mat-option>
              <mat-option *ngFor="let p of listProduct" [value]="p.id">{{p.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.get('brand')?.invalid && formGroup.get('brand')?.touched">
              Vui lòng không bỏ trống dòng sản phẩm!
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-6" formGroupName="brand">
            <mat-label>Thương hiệu</mat-label>
            <mat-select formControlName="id">
              <mat-option (click)="createBrand()">-- Thêm thương hiệu mới --</mat-option>
              <mat-option *ngFor="let b of listBrand" [value]="b.id">{{b.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.get('brand')?.invalid && formGroup.get('brand')?.touched">
              Vui lòng không bỏ trống thương hiệu sản phẩm chi tiết!
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="col-6" formGroupName="material">
            <mat-label>Chất liệu</mat-label>
            <mat-select formControlName="id">
              <mat-option (click)="createCategory()">-- Thêm chất liệu mới --</mat-option>
              <mat-option *ngFor="let m of listMaterial" [value]="m.id">{{m.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.get('material')?.invalid && formGroup.get('material')?.touched">
              Vui lòng không bỏ trống chất liệu sản phẩm chi tiết!
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-6" formGroupName="origin">
            <mat-label>Xuất xứ</mat-label>
            <mat-select formControlName="id">
              <mat-option (click)="createOrigin()">-- Thêm xuất xứ mới --</mat-option>
              <mat-option *ngFor="let o of listOrigin" [value]="o.id">{{o.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.get('material')?.invalid && formGroup.get('material')?.touched">
              Vui lòng không bỏ trống xuất xứ sản phẩm chi tiết!
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Mô tả</mat-label>
          <textarea matInput placeholder="..." formControlName="description"></textarea>
          <mat-error
            *ngIf="formGroup.get('description')?.hasError('required') && formGroup.get('description')?.touched">
            Vui lòng không bỏ trống mô tả sản phẩm chi tiết!
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
