<!-- Breadcrumb Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-12">
      <nav class="breadcrumb bg-light mb-30 shadow-sm" style="border-radius: 5px;">
        <a class="breadcrumb-item text-dark" href="#">Home</a>
        <a class="breadcrumb-item text-dark" href="#">Shop</a>
        <span class="breadcrumb-item active">Shop List</span>
      </nav>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <!-- Shop Sidebar Start -->
    <div class="col-lg-3 col-md-4">
      <h2 class="section-title position-relative text-uppercase mb-3">
        <span class="bg-secondary pr-3"><b><i class="fa-solid fa-filter"></i> Bộ lọc sản phẩm</b></span>
      </h2>
      <!-- Category Start -->
      <div class="mt-4">
        <mat-accordion>
          <mat-expansion-panel class="shadow-sm">
            <mat-expansion-panel-header>
              <span><i class="fa-solid fa-bars-staggered"></i> Danh mục</span>
            </mat-expansion-panel-header>
            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3" *ngFor="let c of categories; index as i">
              <input type="checkbox" class="custom-control-input" id="category-{{ i }}" (click)="loadProductDetailByFilter(TYPE_FILTER.CATEGORY, c.id)"/>
              <label class="custom-control-label" for="category-{{ i }}">{{c.name}}</label>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <!-- Category End -->

      <!-- Brand Start -->
      <div class="mt-3">
        <mat-accordion>
          <mat-expansion-panel class="shadow-sm">
            <mat-expansion-panel-header>
              <span><i class="fa-solid fa-bars-staggered"></i> Thương hiệu</span>
            </mat-expansion-panel-header>
            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3" *ngFor="let b of brands; index as i">
              <input type="checkbox" class="custom-control-input" id="brand-{{ i }}" (click)="loadProductDetailByFilter(TYPE_FILTER.BRAND, b.id)"/>
              <label class="custom-control-label" for="brand-{{ i }}">{{b.name}}</label>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <!-- Brand End -->

      <!-- Material Start -->
      <div class="mt-3">
        <mat-accordion>
          <mat-expansion-panel class="shadow-sm">
            <mat-expansion-panel-header>
              <span><i class="fa-solid fa-bars-staggered"></i> Chất liệu</span>
            </mat-expansion-panel-header>
            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3" *ngFor="let m of materials; index as i">
              <input type="checkbox" class="custom-control-input" id="material-{{ i }}" (click)="loadProductDetailByFilter(TYPE_FILTER.MATERIAL, m.id)"/>
              <label class="custom-control-label" for="material-{{ i }}">{{m.name}}</label>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <!-- Material End -->

      <!-- Origin Start -->
      <div class="mt-3">
        <mat-accordion>
          <mat-expansion-panel class="shadow-sm">
            <mat-expansion-panel-header>
              <span><i class="fa-solid fa-bars-staggered"></i> Xuất xứ</span>
            </mat-expansion-panel-header>
            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3" *ngFor="let o of origins; index as i">
              <input type="checkbox" class="custom-control-input" id="origin-{{ i }}" (click)="loadProductDetailByFilter(TYPE_FILTER.ORIGIN, o.id)"/>
              <label class="custom-control-label" for="origin-{{ i }}">{{o.name}}</label>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <!-- Origin End -->

      <!-- Gender Start -->
      <div class="bg-light p-4 mt-3 shadow-sm" style="border-radius: 5px">
        <p style="color: black; font-size: 15px" class="mb-4"><i class="fa-solid fa-person-half-dress"></i> Đối tượng sử dụng</p>
        <form>
          <div class="d-flex align-items-center justify-content-between">
            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
              <input type="checkbox" class="custom-control-input" id="nam" (click)="loadProductDetailByFilter(TYPE_FILTER.GENDER, true)"/>
              <label class="custom-control-label" for="nam">Nam</label>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
              <input type="checkbox" class="custom-control-input" id="nu" (click)="loadProductDetailByFilter(TYPE_FILTER.GENDER, false)"/>
              <label class="custom-control-label" for="nu">Nữ</label>
            </div>
          </div>
        </form>
      </div>
      <!-- Gender End -->

      <!-- Price Start -->
      <div class="bg-light p-4 mb-30 shadow-sm mt-3" style="border-radius: 5px">
        <p style="color: black; font-size: 15px" class="mb-4"><i class="fa-solid fa-money-bill-1-wave"></i> Giá sản phẩm</p>
        <form [formGroup]="formGroup">
          <div class="text-center">
            <div class="form-group">
              <div class="row">
                <input type="number" class="form-control col-5 m-auto" placeholder="Từ" min="0" max="9999999999" formControlName="startPrice" onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'"/>
                <input type="number" class="form-control col-5 m-auto" placeholder="Đến" min="0" max="9999999999" formControlName="endPrice" onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'"/>
              </div>
              <div class="mt-2">
                <p class="m-0 text-danger" *ngIf="formGroup.errors?.['isCheckPrice'] && (formGroup.get('startPrice')?.touched && formGroup.get('endPrice')?.touched)" style="font-size: 12px">
                  Giá bắt đầu không được lớn hơn giá kết thúc
                </p>
                <p class="m-0 text-danger" *ngIf="formGroup.get('startPrice')?.hasError('required') && formGroup.get('startPrice')?.touched" style="font-size: 12px">
                  Vui lòng không bỏ trống ô giá bắt đầu!
                </p>
                <p class="m-0 text-danger" *ngIf="formGroup.get('endPrice')?.hasError('required') && formGroup.get('endPrice')?.touched" style="font-size: 12px">
                  Vui lòng không để trống ô giá kết thúc!
                </p>
              </div>
              <div class="row mt-3">
                <button type="button" class="btn btn-primary d-block w-100 shadow-sm" (click)="onSubmitFilterPrice()" style="border-radius: 5px">
                  Áp dụng
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- Price End -->
    </div>
    <!-- Shop Sidebar End -->

    <!-- Shop Product Start -->
    <div class="col-lg-9 col-md-8">
      <div class="row pb-3">
        <div class="col-12 pb-1">
          <div class="d-flex align-items-center justify-content-end mb-4">
            <div class="ml-2">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-light dropdown-toggle shadow-sm" data-toggle="dropdown" style="border-radius: 5px;">
                  <i class="fa-solid fa-sort"></i> {{ sort_name }}
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" (click)="setSortProduct(TYPE_SORT.PRICE_DOWN)">Giá: từ thấp đến cao</a>
                  <a class="dropdown-item" (click)="setSortProduct(TYPE_SORT.PRICE_UP)">Giá: từ cao đến thấp</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1" *ngFor="let p of products">
          <div class="product-item bg-light mb-4 shadow-sm" style="border-radius: 5px">
            <div class="product-img position-relative overflow-hidden" style="border-radius: 5px">
              <img class="img-fluid w-100" src="../../../assets/img/avtProduct/{{ p.avatar }}" alt=""/>
              <div class="product-action">
                <a class="btn btn-outline-dark btn-square" (click)="addToCart(p)"><i class="fa fa-shopping-cart"></i></a>
                <a class="btn btn-outline-dark btn-square" [routerLink]="['/product-detail']">
                  <i class="far fa-heart"></i></a>
                <a class="btn btn-outline-dark btn-square" [routerLink]="['/product-detail',p.id]"><i
                  class="fa-regular fa-eye"></i></a>
              </div>
            </div>
            <div class="text-center py-4">
              <a class="h6 text-decoration-none text-truncate" [routerLink]="['/product-detail',p.id]">{{ p.name }}</a>
              <div class="d-flex align-items-center justify-content-center mt-2">
                <h5>{{ p.price | number }}₫</h5>
                <h5 class="text-muted ml-2">
                  <del>{{ p.price | number }}₫</del>
                </h5>
              </div>
              <div
                class="d-flex align-items-center justify-content-center mb-1"
              >
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="fa fa-star text-primary mr-1"></small>
                <small>(99)</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <nav>
            <ul class="pagination justify-content-center">
              <li class="page-item"><a class="page-link" href="#" aria-label="Previous">&laquo;</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active"><a class="page-link " href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">5</a></li>
              <li class="page-item"><a class="page-link" href="#">6</a></li>
              <li class="page-item"><a class="page-link" href="#">7</a></li>
              <li class="page-item"><a class="page-link" href="#">8</a></li>
              <li class="page-item"><a class="page-link" href="#">9</a></li>
              <li class="page-item"><a class="page-link" href="#" aria-label="Next">&raquo;</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- Shop Product End -->
  </div>
</div>
<!-- Shop End -->
