<div class="container-fluid">
  <div *ngIf="isLoading" class="loading">
    <div class="spinner-border text-black-50 spinner-center" role="status"></div>
  </div>
</div>


<div class="container-fluid" style="min-height: 645px">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-8 col-md-8 col-lg-8">

        <div class="card">
          <div class="card-body">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Tìm kiếm theo mã đơn hàng</mat-label>
              <input matInput type="number" [(ngModel)]="searchOrderData" placeholder="Vd. 9 ">
            </mat-form-field>
            <div class="text-center">
              <button mat-raised-button style="background-color: #FFD333; border-radius: 5px" (click)="searchOrder()"><i
                class="fa-solid fa-search"></i>
                Tìm kiếm
              </button>
              <button class="ml-5" mat-raised-button style="background-color: #9ea4a8; border-radius: 5px"
                      (click)="findAllByCustomerId()">
                <i class="fa-solid fa-arrows-rotate"></i>
                Làm mới
              </button>
            </div>
          </div>
        </div>

        <mat-tab-group mat-align-tabs="center" style="background-color: #FFFFFF">
          <mat-tab label="Tất cả ({{ daMua }})">
            <div class="product card" *ngFor="let o of orders">
              <div class="createDate d-flex justify-content-between">
                <p style="margin-top: 10px">
                  Ngày mua hàng: {{ o.createDate }}
                </p>
                <div class="status-order text-uppercase" [ngSwitch]="o.status">
                  <p *ngSwitchCase="0">Chờ xác nhận</p>
                  <p *ngSwitchCase="1">Chờ lấy hàng</p>
                  <p *ngSwitchCase="2">Đang giao</p>
                  <p *ngSwitchCase="3">Đã nhận</p>
                  <p *ngSwitchCase="4">Đã huỷ</p>
                  <p *ngSwitchCase="5">Đã giao</p>
                  <p *ngSwitchCase="6">
                    Đã trả <i style="cursor: pointer; font-size: 23px" (click)="description(o.description)"
                              class="fa-solid fa-circle-info"></i>
                  </p>
                </div>
              </div>
              <div class="createDate d-flex justify-content-between" style="margin-bottom: 10px">
                <p>
                  Thông tin giao hàng: {{ o.phoneNumber }} - {{ o.fullname }} -
                  {{ o.shipAddress }}
                  <button (click)="openEditAddress(o.total, o.id)" *ngIf="o.status === 0" class="edit-address border-radius-5">Chỉnh
                    sửa
                  </button>
                </p>
                <p style="margin-top: 10px">
                  Mã đơn hàng: {{ o.id }}
                </p>
              </div>
              <div class="max-height scroll-bar">
                <ng-template
                  *ngFor="let odt of orderDetails"
                  [ngIf]="odt.order.id == o.id">
                  <div class="row w-100 product-detail">
                    <div class="col-2 col-md-2 col-lg-2 image">
                      <a
                        routerLink="/product-detail/{{odt.productDetail.id}}">
                        <img src="../../../assets/img/avtProduct/{{odt.productDetail.avatar}}" alt="Ảnh sản phẩm"/>
                      </a>
                    </div>
                    <div class="col-8 col-md-8 col-lg-8">
                      <a
                        routerLink="/product-detail/{{odt.productDetail.id}}"
                        class="title">
                        {{ odt.productDetail.name }}</a>
                      <p style="margin-top: 10px">Chất liệu: {{ odt.productDetail.material.name }}</p>
                      <p>Nhãn hiệu: {{ odt.productDetail.brand.name }}</p>
                      <p>Số lượng: {{ odt.quantity }}</p>
                    </div>
                    <div class="col-2 col-md-2 col-lg-2 price">
                      <div class="center">
                        <p *ngIf="odt.price != odt.productDetail.price" class="center">
                          {{ odt.price | number }} VND
                        </p>
                        <p
                          [style]="odt.price != odt.productDetail.price ? 'text-decoration:line-through;color:red':''">
                          {{ odt.productDetail.price | number }} VND
                        </p>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </div>
              <div class="total-payment">
                <!--                <p>-->
                <!--                  Giảm giá:-->
                <!--                  <span style="padding-left: 5px; margin-right: 20px"-->
                <!--                  >{{ o.discount | number }} VND</span-->
                <!--                  >-->
                <!--                </p>-->
                <p>Tổng tiền hàng: {{ o.total | number }} VND</p>
                <p>Phí giao hàng: {{ o.feeShipping | number }} VND</p>
                <p>
                  Tổng tiền thanh toán:
                  <span style="color: red; font-size: 15px; padding-left: 5px"
                  >{{ o.totalPayment | number }} VND
                  </span>
                </p>
              </div>
              <div class="button-confirm d-flex justify-content-end mb-0">
                <ng-template [ngIf]="o.status == 0">
                  <button
                    (click)="updateStatusOrder(RESULT_CLOSE_DIALOG_ORDER.Cancel,o.id)">
                    Huỷ đơn hàng
                  </button>
                </ng-template>
                <ng-template [ngIf]="o.status == 5">
                  <button
                    (click)="updateStatusOrder(RESULT_CLOSE_DIALOG_ORDER.HasReceivedTheGoods,o.id)">
                    Đã nhận hàng
                  </button>
                </ng-template>
                <ng-template [ngIf]="o.status == 3 || o.status == 4 || o.status == 6">
                  <button
                    (click)="updateStatusOrder(RESULT_CLOSE_DIALOG_ORDER.Repurchase,o.id)">
                    Mua lại
                  </button>
                </ng-template>
              </div>
            </div>
          </mat-tab>

          <mat-tab
            label="{{ x.lable }} ({{ x.sl }})"
            *ngFor="let x of listMatTab"
          >
            <ng-template *ngFor="let o of orders" [ngIf]="o.status == x.status">
              <div class="product card">
                <div class="createDate d-flex justify-content-between">
                  <p style="margin-top: 10px">
                    Ngày mua hàng: {{ o.createDate }}
                  </p>
                  <div class="status-order text-uppercase" [ngSwitch]="o.status">
                    <p *ngSwitchCase="0">Chờ xác nhận</p>
                    <p *ngSwitchCase="1">Chờ lấy hàng</p>
                    <p *ngSwitchCase="2">Đang giao</p>
                    <p *ngSwitchCase="3">Đã nhận</p>
                    <p *ngSwitchCase="4">Đã huỷ</p>
                    <p *ngSwitchCase="5">Đã giao</p>
                    <p *ngSwitchCase="6">
                      Đã trả <i style="cursor: pointer; font-size: 23px" (click)="description(o.description)"
                                class="fa-solid fa-circle-info"></i>
                    </p>
                  </div>
                </div>
                <div class="createDate d-flex justify-content-between" style="margin-bottom: 10px">
                  <p>
                    Thông tin giao hàng: {{ o.phoneNumber }} - {{ o.fullname }} -
                    {{ o.shipAddress }}
                    <button (click)="openEditAddress(o.total, o.id)" *ngIf="o.status === 0" class="edit-address border-radius-5">
                      Chỉnh sửa
                    </button>
                  </p>
                  <p style="margin-top: 10px">
                    Mã đơn hàng: {{ o.id }}
                  </p>
                </div>
                <div class="max-height scroll-bar">
                  <ng-template
                    *ngFor="let odt of orderDetails"
                    [ngIf]="odt.order.id == o.id"
                  >
                    <div class="row w-100 product-detail">
                      <div class="col-2 col-md-2 col-lg-2 image">
                        <a
                          routerLink="/product-detail/{{odt.productDetail.id}}">
                          <img src="../../../assets/img/avtProduct/{{odt.productDetail.avatar}}" alt="Ảnh sản phẩm"/>
                        </a>
                      </div>
                      <div class="col-8 col-md-8 col-lg-8">
                        <a
                          routerLink="/product-detail/{{odt.productDetail.id}}"
                          class="title">
                          {{ odt.productDetail.name }}</a>
                        <p style="margin-top: 10px">Chất liệu: {{ odt.productDetail.material.name }}</p>
                        <p>Nhãn hiệu: {{ odt.productDetail.brand.name }}</p>
                        <p>Số lượng: {{ odt.quantity }}</p>
                      </div>
                      <div class="col-2 col-md-2 col-lg-2 price">
                        <div class="center">
                          <p *ngIf="odt.price != odt.productDetail.price" class="center">
                            {{ odt.price | number }} VND
                          </p>
                          <p
                            [style]="odt.price != odt.productDetail.price ? 'text-decoration:line-through;color:red':''">
                            {{ odt.productDetail.price | number }} VND
                          </p>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </div>
                <div class="total-payment">
                  <!--                  <p>-->
                  <!--                    Giảm giá:-->
                  <!--                    <span style="padding-left: 5px; margin-right: 20px"-->
                  <!--                    >{{ o.discount | number }} VND</span-->
                  <!--                    >-->
                  <!--                  </p>-->
                  <p>Tổng tiền hàng: {{ o.total | number }} VND</p>
                  <p>Phí giao hàng: {{ o.feeShipping | number }} VND</p>
                  <p>
                    Tổng tiền thanh toán:
                    <span style="color: red; font-size: 15px; padding-left: 5px"
                    >{{ o.totalPayment | number }} VND
                  </span>
                  </p>
                </div>
                <div class="button-confirm d-flex justify-content-end mb-0">
                  <ng-template [ngIf]="o.status == 0">
                    <button
                      (click)="updateStatusOrder(RESULT_CLOSE_DIALOG_ORDER.Cancel,o.id)">
                      Huỷ đơn hàng
                    </button>
                  </ng-template>
                  <ng-template [ngIf]="o.status == 5">
                    <button
                      (click)="updateStatusOrder(RESULT_CLOSE_DIALOG_ORDER.HasReceivedTheGoods,o.id)">
                      Đã nhận hàng
                    </button>
                  </ng-template>
                  <ng-template [ngIf]="o.status == 3 || o.status == 4 || o.status == 6">
                    <button
                      (click)="updateStatusOrder(RESULT_CLOSE_DIALOG_ORDER.Repurchase,o.id)">
                      Mua lại
                    </button>
                  </ng-template>
                </div>
              </div>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
