<div class="container-fluid">
  <div class="row">
    <img class="col" src="assets/img/banner-introduce.jpg"/>
    <div class="item-child text-center">
      <h2 class="text-white" style="font-size: 60px">GIỚI THIỆU</h2>
      <i class="fa-solid fa-minus"></i>
      <h2><a routerLink="/">Trang chủ</a> / <span class="text-white">Giới thiệu</span></h2>
    </div>
  </div>
  <div class="my-5">
    <div>
      <div class="text-center">
        <h2 style="color: black; font-size: 40px">FADO SHOP</h2>
        <i class="fa-solid fa-minus"></i>
        GIỚI THIỆU VỀ CHÚNG TÔI
        <i class="fa-solid fa-minus"></i>
      </div>
      <div class="d-flex justify-content-center">
        <p style="width: 50%">
          <br> <br>
          FADO SHOP là thương hiệu bán lẻ và đại lý phân phối đồng hồ chính hãng từ những quốc gia tên tuổi hàng đầu trên thế giới về sản xuất đồng hồ đeo tay như Thuỵ Sỹ, Đức, Hoa Kỳ, Nhật Bản...
          <br> <br>
          Khời nguồn từ niềm đam mê, bản thân là những người thợ sửa chữa và sưu tầm đồng hồ. Chúng tôi luôn thấu hiểu được những khó khăn của người chơi đồng hồ tại Việt Nam, chúng tôi luôn tâm niệm rằng sứ mệnh của mình là đem tới quý khách hàng những giá trị thật nhất.
          <br> <br>
          FADO - GIÁ TRỊ TẠO NIỀM TIN Vào năm 2022, FADO SHOP khai trương cửa hàng đầu tiên tại Hà Nội. Tuy khởi sự từ một quy mô nhỏ, nhưng FADO luôn chỉnh chu trong thái độ phục vụ cho đến chất lượng sản phẩm đến người dùng, và FADO SHOP hiểu giá trị “Thật” của một đồng hồ chính hãng không chỉ dừng lại là một phụ kiện xem giờ chính xác, mà hơn thế nữa đồng hồ còn là một người bạn gần gũi thể hiện cá tính, bền bỉ và trung thành đối với chủ nhân sử dụng.
        </p>
      </div>
    </div>
  </div>
</div>
