<div class="sidebar-wrapper">
  <div class="logo">
    <a href="/dashboard" class="text-decoration-none container">
      <div class="container">
        <span class="h3 text-uppercase px-2" style="color: #FFD333 ;border: 3px solid #FFD333"><b>fado</b></span>
        <span class="h3 text-uppercase px-2 ml-n1" style="background-color: #FFD333 ;color: #212120; border: 3px solid #FFD333"><b>shop</b></span>
      </div>
    </a>
  </div>
    <ul class="nav">
         <div *ngIf="role">
           <li *ngFor="let menuItem of menuItems | slice: 0 : 7" routerLinkActive="active" class="{{menuItem.class}}">
             <a [routerLink]="[menuItem.path]">
               <i class="nc-icon {{menuItem.icon}}"></i>
               <p>{{menuItem.title}}</p>
             </a>
           </li>
           <li><a style="border-bottom: 2px solid #909090"></a></li>

           <li *ngFor="let menuItem of menuItems | slice: 7 : menuItems.length" routerLinkActive="active" class="{{menuItem.class}}">
             <a [routerLink]="[menuItem.path]">
               <i class="nc-icon {{menuItem.icon}}"></i>
               <p>{{menuItem.title}}</p>
             </a>
           </li>
         </div>
    </ul>
</div>
