
<div class="sidebar-wrapper">
  <div class="logo">
    <a href="/dashboard" class="text-decoration-none container">
      <span class="h3 text-uppercase px-2" style="color: #FFD333">fado</span>
      <span class="h3 text-uppercase px-2 ml-n1" style="background-color: #FFD333; color: black">Shop</span>
    </a>
  </div>
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
                <i class="nc-icon {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
