.item-parent{
  position: relative;
}

.item-child{
  font-size: 15px;
  border-radius: 5px 0px 0px 0px;
  position: absolute;
  z-index: 1;
}

.name-product{
  width : 140px;
  overflow:hidden;
  display:inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
