<div class="container-fluid">
    <div *ngIf="isLoading" class="loading">
        <div class="spinner-border text-black-50 spinner-center" role="status"></div>
    </div>
</div>

<div class="container-fluid mb-3">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#header-carousel" data-slide-to="1"></li>
                    <li data-target="#header-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item position-relative active" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="assets/img/home-dong-ho-nam.jpg" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h2 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Sự Lịch Lãm</h2>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" routerLink="/product">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item position-relative" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="assets/img/home-dong-ho-nu-1.jpg" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h2 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Sự Quý Phái</h2>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" routerLink="/product">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item position-relative" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="assets/img/home-dong-ho-sang-trong.jpg" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h2 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Sự Sang Trọng</h2>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" routerLink="/product">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="product-offer mb-30" style="height: 200px;">
                <img class="img-fluid" src="assets/img/home-dong-ho-nam-2.jpg" alt="">
                <div class="offer-text">
                    <h3 class="text-white mb-3">Đồng Hồ Nam</h3>
                    <a href="javascript:void(0)" (click)="redirectProduct(1,'Nam')" class="btn btn-outline-light">Mua ngay</a>
                </div>
            </div>
            <div class="product-offer mb-30" style="height: 200px;">
                <img class="img-fluid" src="assets/img/home-dong-ho-nu-2.jpg" alt="">
                <div class="offer-text">
                    <h3 class="text-white mb-3">Đồng Hồ Nữ</h3>
                    <a href="javascript:void(0)" (click)="redirectProduct(0,'Nữ')" class="btn btn-outline-light">Mua ngay</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->


<!-- Categories Start -->
<div class="container-fluid pt-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Danh mục sản phẩm</span></h2>
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1" *ngFor="let cate of categories">
            <a class="text-decoration-none" href="javascript:void(0)" (click)="redirectProduct(cate.id,cate.name)">
                <div class="cat-item d-flex align-items-center mb-4 shadow-sm" style="border-radius: 5px">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="assets/img/category/{{cate.image}}" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h2>{{cate.name}}</h2>
                        <small class="text-body">{{cate.count}} sản phẩm</small>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Categories End -->


<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Sản phẩm mới nhất</span></h2>
        <div class="row px-xl-5">
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1" *ngFor="let p of productDetailLatest">
                <div class="product-item bg-light mb-4 shadow-sm item-parent" style="border-radius: 5px">
                    <span *ngIf="loadDiscountProduct(p.id) != 0" class="item-child badge badge-danger">Giảm giá</span>
                    <div class="product-img position-relative overflow-hidden" style="border-radius: 5px">
                        <img class="img-fluid w-100" src="../../../assets/img/avtProduct/{{ p.avatar }}" alt="" />
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" (click)="addToCart(p)"><i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-dark btn-square" [routerLink]="['/product-detail',p.id]"><i
              class="fa-regular fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate name-product" [routerLink]="['/product-detail',p.id]">{{p.name}}</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5 *ngIf="loadDiscountProduct(p.id) == 0">{{ p.price | number }}₫</h5>
                            <h5 *ngIf="loadDiscountProduct(p.id) != 0">{{loadDiscountProduct(p.id) | number}}₫</h5>
                            <h5 *ngIf="loadDiscountProduct(p.id) != 0" class="text-muted ml-2">
                                <del>{{ p.price | number }}₫</del>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Products End -->


<!-- Products Start -->
<div class="container-fluid pt-5 pb-3" *ngIf="productDetailInPromotion.length > 0">
            <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Sản phẩm khuyến mại</span></h2>
            <div class="row px-xl-5">
                <div class="col-lg-3 col-md-4 col-sm-6 pb-1" *ngFor="let p of productDetailInPromotion">
                    <div class="product-item bg-light mb-4 shadow-sm item-parent" style="border-radius: 5px">
                        <span *ngIf="loadDiscountProduct(p.id) != 0" class="item-child badge badge-danger">Giảm giá</span>
                        <div class="product-img position-relative overflow-hidden" style="border-radius: 5px">
                            <img class="img-fluid w-100" src="../../../assets/img/avtProduct/{{ p.avatar }}" alt="" />
                            <div class="product-action">
                                <a class="btn btn-outline-dark btn-square" (click)="addToCart(p)"><i class="fa fa-shopping-cart"></i></a>
                                <a class="btn btn-outline-dark btn-square" [routerLink]="['/product-detail',p.id]"><i
              class="fa-regular fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <a class="h6 text-decoration-none text-truncate name-product" [routerLink]="['/product-detail',p.id]">{{p.name}}</a>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <h5 *ngIf="loadDiscountProduct(p.id) == 0">{{ p.price | number }}₫</h5>
                                <h5 *ngIf="loadDiscountProduct(p.id) != 0">{{loadDiscountProduct(p.id) | number}}₫</h5>
                                <h5 *ngIf="loadDiscountProduct(p.id) != 0" class="text-muted ml-2">
                                    <del>{{ p.price | number }}₫</del>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- Products End -->

<!-- Products Start -->
<div class="container-fluid pt-5 pb-3" *ngIf="productDetailFeatured.length > 0">
  <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Sản phẩm nổi bật</span></h2>
  <div class="row px-xl-5">
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1" *ngFor="let p of productDetailFeatured">
      <div class="product-item bg-light mb-4 shadow-sm item-parent" style="border-radius: 5px">
        <span *ngIf="loadDiscountProduct(p.id) != 0" class="item-child badge badge-danger">Giảm giá</span>
        <div class="product-img position-relative overflow-hidden" style="border-radius: 5px">
          <img class="img-fluid w-100" src="../../../assets/img/avtProduct/{{ p.avatar }}" alt="" />
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" (click)="addToCart(p)"><i class="fa fa-shopping-cart"></i></a>
            <a class="btn btn-outline-dark btn-square" [routerLink]="['/product-detail',p.id]"><i
              class="fa-regular fa-eye"></i></a>
          </div>
        </div>
        <div class="text-center py-4">
          <a class="h6 text-decoration-none text-truncate name-product" [routerLink]="['/product-detail',p.id]">{{p.name}}</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5 *ngIf="loadDiscountProduct(p.id) == 0">{{ p.price | number }}₫</h5>
            <h5 *ngIf="loadDiscountProduct(p.id) != 0">{{loadDiscountProduct(p.id) | number}}₫</h5>
            <h5 *ngIf="loadDiscountProduct(p.id) != 0" class="text-muted ml-2">
              <del>{{ p.price | number }}₫</del>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Products End -->
