<div class="container">
  <div class="row py-5 mt-4 align-items-center">
    <!-- For Demo Purpose -->
    <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
      <img src="https://res.cloudinary.com/mhmd/image/upload/v1569543678/form_d9sh6m.svg" alt=""
           class="img-fluid mb-3 d-none d-md-block">
    </div>

    <!-- Registeration Form -->
    <div class="col-md-7 col-lg-6 ml-auto shadow p-5" style="border-radius: 10px">
      <div class="text-center">
        <h2 style="text-shadow: 5px 5px 5px gray">Đăng ký</h2>
      </div>

      <form class="MT-5" [formGroup]="formGroup">
        <div class="row">
          <div class="col">
            <mat-form-field class="w-100" appearance="standard">
              <mat-label>Họ</mat-label>
              <input formControlName="firstname" type="text"
                     id="exampleInputFirstname1" required maxlength="50"
                     matInput>
              <mat-error
                *ngIf="formGroup.get('firstname')?.hasError('isSpace') &&
            formGroup.get('firstname')?.touched">Họ đang không được để trống!
              </mat-error>
              <mat-error
                *ngIf="formGroup.get('firstname')?.hasError('pattern') &&
            formGroup.get('firstname')?.touched">Họ không được chứa số và kí tự đặc biệt!
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field class="w-100" appearance="standard">
              <mat-label>Tên</mat-label>
              <input formControlName="lastname" type="text"
                     id="exampleInputLastname1" required maxlength="50"
                     matInput>
              <mat-error
                *ngIf="formGroup.get('lastname')?.hasError('isSpace') &&
            formGroup.get('lastname')?.touched">Tên đang không được để trống!
              </mat-error>
              <mat-error
                *ngIf="formGroup.get('lastname')?.hasError('pattern') &&
            formGroup.get('lastname')?.touched">Tên không được chứa số và kí tự đặc biệt!
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="w-100" appearance="standard">
              <mat-label>Tài khoản</mat-label>
              <input formControlName="username" type="text"
                     id="exampleInputUsername1" required maxlength="50"
                     matInput>
              <mat-error
                *ngIf="formGroup.get('username')?.hasError('required') &&
            formGroup.get('username')?.touched">Tài khoản không được để trống!
              </mat-error>
              <mat-error
                *ngIf="formGroup.get('username')?.hasError('pattern') &&
            formGroup.get('username')?.touched">Tài khoản không được chứa khoảng trắng, viết dấu và ký tự đặc biệt
              </mat-error>
              <mat-error
                *ngIf="formGroup.get('username')?.hasError('minlength') &&
            formGroup.get('username')?.touched">Tài khoản tối thiểu 8 ký tự!
              </mat-error>
              <mat-error
                *ngIf="formGroup.get('username')?.hasError('maxlength') &&
            formGroup.get('username')?.touched">Tài khoản tối đa 24 ký tự!
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field class="w-100" appearance="standard">
              <mat-label>Mật khẩu</mat-label>
              <input formControlName="password" type="password"
                     id="exampleInputPassword1" required maxlength="50"
                     matInput>
              <mat-error
                *ngIf="formGroup.get('password')?.hasError('required') &&
            formGroup.get('password')?.touched">Mật khẩu không được để trống!
              </mat-error>
              <mat-error
                *ngIf="formGroup.get('password')?.hasError('minlength') &&
            formGroup.get('password')?.touched">Mật khẩu tối thiểu 8 ký tự!
              </mat-error>
              <mat-error
                *ngIf="formGroup.get('password')?.hasError('maxlength') &&
            formGroup.get('password')?.touched">Mật khẩu tối đa 24 ký tự!
              </mat-error>
              <mat-error
                *ngIf="formGroup.get('password')?.hasError('pattern') &&
            formGroup.get('password')?.touched">Mật khẩu không được viết dấu và không chứa khoảng trắng!
              </mat-error>
            </mat-form-field>
          </div>
        </div>


        <div class="row">
          <div class="col">
            <mat-form-field class="w-100" appearance="standard">
              <mat-label>Số điện thoại</mat-label>
              <input formControlName="phoneNumber" type="text"
                     id="exampleInputPhoneNumber1" required maxlength="10"
                     matInput>
              <mat-error
                *ngIf="formGroup.get('phoneNumber')?.hasError('isSpace') &&
            formGroup.get('phoneNumber')?.touched">Số điện thoại không được để trống!
              </mat-error>
              <mat-error
                *ngIf="formGroup.get('phoneNumber')?.hasError('pattern') &&
                    formGroup.get('phoneNumber')?.touched">Số điện thoại sai định dạng!
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field class="w-100" appearance="standard">
              <mat-label>Email</mat-label>
              <input formControlName="email" type="text"
                     id="exampleInpuEmail1" required maxlength="50"
                     matInput>
              <mat-error
                *ngIf="formGroup.get('email')?.hasError('isSpace') &&
            formGroup.get('email')?.touched">Email không được để trống!
              </mat-error>
              <mat-error
                *ngIf="formGroup.get('email')?.hasError('pattern') &&
                    formGroup.get('email')?.touched">Email sai định dạng!
              </mat-error>
            </mat-form-field>
          </div>
        </div>


        <div class="row">
          <div class="col">
            <mat-form-field appearance="standard" class="w-100">
              <mat-label>Ngày sinh</mat-label>
              <input matInput formControlName="dateOfBirth" [matDatepicker]="picker">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field appearance="standard" class="w-100">
              <mat-label>Giới tính:</mat-label>
              <mat-select disableRipple formControlName="gender">
                <mat-option [value]='true'>Nam</mat-option>
                <mat-option [value]='false'>Nữ</mat-option>
              </mat-select>
              <mat-error *ngIf="formGroup.get('gender')?.hasError('required') && formGroup.get('gender')?.touched">
                Giới tính không được để trống!
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="form-group my-3">
          <button mat-raised-button type="button" class="w-100 bg-primary"
          (click)="signUp()" >Đăng ký
          </button>
        </div>
          <!-- Divider Text -->
          <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
            <div class="border-bottom w-100 ml-5"></div>
            <span class="px-2 small text-muted font-weight-bold text-muted">OR</span>
            <div class="border-bottom w-100 mr-5"></div>
          </div>

          <!-- Already Registered -->
          <div class="text-center w-100">
            <p class="text-muted font-weight-bold">Bạn đã có tài khoản? <a routerLink="/auth/login"
                                                                           class="text-primary ml-2">Đăng nhập</a>
            </p>
          </div>

      </form>
    </div>
  </div>
</div>

