<div class="row">
  <h2 class="col-11">Quản lý khách hàng</h2>
  <h2 class="col-11">{{title}}</h2>
  <span class="col-1 fs-4" (click)="onDismiss()"><i class="fa-solid fa-xmark"></i></span>
</div>

<div class="row">
  <mat-dialog-content>
    <form class="example-form" [formGroup]="formGroup">
      <div class="row">

        <div class="col">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>First Name</mat-label>
            <input formControlName="firstname" type="text"
                   id="exampleInputFirstname1" required maxlength="50"
                   matInput>
            <mat-error
              *ngIf="formGroup.get('firstname')?.hasError('required') &&
            formGroup.get('firstname')?.touched">Bạn phải nhập firstname
            </mat-error>
            <mat-error
              *ngIf="formGroup.get('firstname')?.hasError('pattern') &&
            formGroup.get('firstname')?.touched">Firstname chứa số và ký tự đặc biệt
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input formControlName="lastname" type="text"
                   id="exampleInputLastname1" required maxlength="50"
                   matInput>
            <mat-error
              *ngIf="formGroup.get('lastname')?.hasError('required') &&
            formGroup.get('lastname')?.touched">Bạn phải nhập last name
            </mat-error>
            <mat-error
              *ngIf="formGroup.get('lastname')?.hasError('pattern') &&
            formGroup.get('lastname')?.touched">Last Name chứa số và ký tự đặc biệt
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Ngày sinh</mat-label>
            <input matInput formControlName="dateOfBirth" type="datetime-local" class="w-100">
            <mat-error
              *ngIf="formGroup.get('dateOfBirth')?.hasError('required') &&
          formGroup.get('dateOfBirth')?.touched">Bạn phải chọn ngày sinh
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">

        <div class="col">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Tài khoản</mat-label>
            <input formControlName="username" type="text"
                   id="exampleInputUsername1" required maxlength="50"
                   matInput>
            <mat-error
              *ngIf="formGroup.get('username')?.hasError('required') &&
            formGroup.get('username')?.touched">Bạn phải nhập tài khoản
            </mat-error>
            <mat-error
              *ngIf="formGroup.get('username')?.hasError('pattern') &&
            formGroup.get('username')?.touched">Tài khoản không được chứa khoảng trắng, viết dấu và ký tự đặc biệt
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Mật khẩu</mat-label>
            <input formControlName="password" type="password"
                   id="exampleInputPassword1" required maxlength="50"
                   matInput>
            <mat-error
              *ngIf="formGroup.get('password')?.hasError('required') &&
            formGroup.get('password')?.touched">Bạn phải nhập mật khẩu
            </mat-error>
          </mat-form-field>
        </div>

      </div>


      <div class="row">

        <div class="col">

          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Số điện thoại</mat-label>
            <input formControlName="phoneNumber" type="text"
                   id="exampleInputPhoneNumber1" required maxlength="10"
                   matInput>
            <mat-error
              *ngIf="formGroup.get('phoneNumber')?.hasError('required') &&
            formGroup.get('phoneNumber')?.touched">Bạn phải số điện thoại
            </mat-error>
            <mat-error
              *ngIf="formGroup.get('phoneNumber')?.hasError('pattern') &&
                    formGroup.get('phoneNumber')?.touched">Số điện thoại sai địng dạng
            </mat-error>
          </mat-form-field>

        </div>

        <div class="col">

          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" type="text"
                   id="exampleInpuEmail1" required maxlength="50"
                   matInput>
            <mat-error
              *ngIf="formGroup.get('email')?.hasError('required') &&
            formGroup.get('email')?.touched">Bạn phải nhập email
            </mat-error>
            <mat-error
              *ngIf="formGroup.get('email')?.hasError('pattern') &&
                    formGroup.get('email')?.touched">Email sai địng dạng
            </mat-error>
          </mat-form-field>

        </div>
        <div class="col">

          <div class="col">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Ngày sinh</mat-label>
              <input matInput formControlName="dateOfBirth" type="datetime-local" class="w-100">
              <mat-error
                *ngIf="formGroup.get('dateOfBirth')?.hasError('required') &&
          formGroup.get('dateOfBirth')?.touched">Bạn phải chọn ngày sinh
              </mat-error>
            </mat-form-field>
          </div>

        </div>

      </div>


      <div class="row">
        <div class="col align-items-center">
          <mat-label>Giới tính:</mat-label>
          <mat-radio-group formControlName="gender">
            <mat-radio-button class="mx-3" [value]="1" [checked]="formGroup.value.gender == 1">Nam</mat-radio-button>
            <mat-radio-button [value]="0" [checked]="formGroup.value.gender != 1">Nữ</mat-radio-button>
          </mat-radio-group>
        </div>

      </div>
      <mat-dialog-actions>
        <div class="d-flex justify-content-center">
          <button mat-raised-button color="primary" (click)="onSubmit()">Lưu</button>
          <button mat-raised-button color="warn" (click)="onDismiss()" class="mx-5">Thoát</button>
        </div>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>

</div>
