<div class="row">
  <h2 class="col-11">{{title}}</h2>
  <span class="col-1 fs-4" (click)="onDismiss()"><i class="fa-solid fa-xmark"></i></span>
</div>

<div class="row">
  <form class="example-form" [formGroup]="formGroup">
    <div class="row">
      <mat-form-field class="w-100" appearance="outline" class="col-6">
        <mat-label>Tên danh mục</mat-label>
        <input type="text" matInput formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-6">
        <mat-label>Trạng thái</mat-label>
        <mat-select disableRipple formControlName="status">
          <mat-option value="1">Còn kinh doanh</mat-option>
          <mat-option value="0">Ngừng kinh doanh</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()">
        <span>Lưu</span>
      </button>
      <button mat-raised-button color="warn" (click)="onDismiss()">
        <span>Đóng</span>
      </button>
    </mat-dialog-actions>
  </form>

</div>

