input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

  opacity: 1;

}
.hover-red :hover{
  color: red !important;
}

.border-radius-10{
  border-radius: 10px;
}
.td-w-35 {
  width: 35%;
}

.info-prd {
  text-align: start;
}

.info-prd p {
  margin-bottom: 6.5px;
}

.name p a {
  font-weight: bold;
  color: black;
}

.info p {
  font-size: 10px;
}

.center-me {
  verticle-align: middle;
}
