<div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="preloader-inner position-relative">
      <div class="preloader-circle"></div>
      <div class="preloader-img pere-text">
        <img src="assets/img/logo/FADO_blue.png"/>
      </div>
    </div>
  </div>
</div>

<header>
  <div class="header-area">
    <div class="main-header header-sticky">
      <div class="container-fluid">
        <div class="menu-wrapper">
          <div class="logo">
            <a href="index.html"><img src="assets/img/logo/shopFado_blue.png" width="300"/></a>
          </div>

          <div class="main-menu d-none d-lg-block">
            <nav>
              <ul id="navigation">
                <li><a class="nav-link" href="#">Trang chủ</a></li>
                <li>
                  <a class="nav-link" href="#">Sản phẩm</a>
                  <ul class="submenu">
                    <li><a class="nav-link" href="#">Đồng hồ nam</a></li>
                    <li><a class="nav-link" href="#">Đồng hồ nữ</a></li>
                  </ul>
                </li>
                <li><a class="nav-link" href="shop.html">Giới thiệu</a></li>
                <li><a class="nav-link" href="shop.html">Liên hệ</a></li>
                <li class="hot"><a class="nav-link" href="#">Tin tức</a></li>
              </ul>
            </nav>
          </div>

          <div class="header-right">
            <ul>
              <li>
                <span class="material-symbols-outlined">search</span>
              </li>
              <li>
                <a href="#"><span class="material-symbols-outlined">person</span></a>
              </li>
              <li>
                <a href="#"><span class="material-symbols-outlined">shopping_cart</span></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-12">
          <div class="mobile_menu d-block d-lg-none"></div>
        </div>
      </div>
    </div>
  </div>
</header>
