<!--<div *ngIf="loading" class="loading">-->
<!--  <div class="spinner-border text-info spinner-center" role="status">-->
<!--  </div>-->
<!--</div>-->

<div class="card">
  <div class="card-body">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Tìm kiếm</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Tìm kiếm " #input>
    </mat-form-field>
    <div class="text-center">
      <button mat-raised-button color="primary"><i class="fa-solid fa-plus" (click)="openSave(type.NEW)"></i> Thêm
      </button>
    </div>
  </div>
</div>

<!-- Row -->
<div class="row row-sm">
  <div class="col-lg-12 col-md-12">
    <div class="card custom-card">
      <div class="card-body">
        <table mat-table [dataSource]="dataSource" matSort class="w-100 table table-hover">

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name</th>
            <td mat-cell *matCellDef="let row"> {{row.firstname}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name</th>
            <td mat-cell *matCellDef="let row"> {{row.lastname}} </td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="dateOfBirth">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of birth</th>
            <td mat-cell *matCellDef="let row"> {{row.dateOfBirth}} </td>
          </ng-container>

          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Image</th>
            <td mat-cell *matCellDef="let row"> {{row.image}} </td>
          </ng-container>

          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Username</th>
            <td mat-cell *matCellDef="let row"> {{row.username}} </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
          </ng-container>

          <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> PhoneNumber</th>
            <td mat-cell *matCellDef="let row"> {{row.phoneNumber}} </td>
          </ng-container>

          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender</th>
            <td mat-cell *matCellDef="let row"> {{row.gender == 1 ? 'Nam' : 'Nữ'}} </td>
          </ng-container>

          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Address</th>
            <td mat-cell *matCellDef="let row"> {{row.address}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
            <td mat-cell *matCellDef="let row"> {{row.status == 1 ? 'Đang hoạt động' : 'Ngưng hoạt động'}} </td>
          </ng-container>

          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Role</th>
            <td mat-cell *matCellDef="let row"> {{row.role.name}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>
            <td mat-cell *matCellDef="let row">
              <button class="btn btn-sm btn-outline-primary" type="button"
                      (click)="openSave(type.UPDATE, row)" title="Sửa">
                <i class="fa-solid fa-pen"></i>
              </button>
              <button class="btn btn-sm btn-outline-danger" type="button"
                      (click)="openDelete(row.id)" title="Xóa">
                <i class="fa-thin fa-trash-can"></i>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
  </div>
</div>
<!-- End Row -->

