<footer>
  <div class="footer-area footer-padding">
    <div class="container">
      <div class="row d-flex justify-content-between">
        <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
          <div class="single-footer-caption mb-50">
            <div class="single-footer-caption mb-30">
              <div class="footer-logo">
                <a href="index.html"
                ><img src="assets/img/logo/shopFado_blue.png"
                  width="300"
                  data-pagespeed-url-hash="1724423425"
                  onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                /></a>
              </div>
              <div class="footer-tittle">
                <div class="footer-pera">
                  <p>
                    The number 1 prestigious watch store in Vietnam, with quality products, guaranteed to reach users
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
          <div class="single-footer-caption mb-50">
            <div class="footer-tittle">
              <h4>Quick Links</h4>
              <ul>
                <li><a class="nav-link" href="#">About</a></li>
                <li><a class="nav-link" href="#">Offers & Discounts</a></li>
                <li><a class="nav-link" href="#">Get Coupon</a></li>
                <li><a class="nav-link" href="#">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
          <div class="single-footer-caption mb-50">
            <div class="footer-tittle">
              <h4>New Products</h4>
              <ul>
                <li><a class="nav-link" href="#">Luxury Watches</a></li>
                <li><a class="nav-link" href="#">Fashion Accessories</a></li>
                <li><a class="nav-link" href="#">Man Accessories</a></li>
                <li><a class="nav-link" href="#">Diamond Watches</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
          <div class="single-footer-caption mb-50">
            <div class="footer-tittle">
              <h4>Support</h4>
              <ul>
                <li><a class="nav-link" href="#">Frequently Asked Questions</a></li>
                <li><a class="nav-link" href="#">Terms & Conditions</a></li>
                <li><a class="nav-link" href="#">Privacy Policy</a></li>
                <li><a class="nav-link" href="#">Report a Payment Issue</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-xl-7 col-lg-8 col-md-7">
          <div class="footer-copy-right">
            <p>
              Copyright &copy; All rights reserved at
              <img src="assets/img/logo/FADO_blue.png" width="50">
            </p>
          </div>
        </div>
        <div class="col-xl-5 col-lg-4 col-md-5">
          <div class="footer-copy-right f-right">
            <div class="footer-social">
              <a href="#"><i class="material-symbols-outlined">house</i></a>
              <a href="#"><i class="material-symbols-outlined">phone_in_talk</i></a>
              <a href="#"><i class="material-symbols-outlined">mark_email_unread</i></a>
              <a href="#"><i class="material-symbols-outlined">public</i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
