.editBtnSubmit {
  margin-top: 25px;
  width: 90px;
  height: 40px;
  border: none;
  background-color: #FFD333;
  margin-right: 10px;
}

.editBtnClose {
  margin-top: 25px;
  width: 90px;
  height: 40px;
  border: none;
  background-color: #9ea4a8;
  margin-left: 10px;
}

.editBtnSubmit:hover {
  margin-top: 25px;
  width: 90px;
  height: 40px;
  border: none;
  background-color: #ffcb0d;
  margin-right: 10px;
  border-radius: 7px;
}

.editBtnClose:hover {
  margin-top: 25px;
  width: 90px;
  height: 40px;
  border: none;
  background-color: #828688;
  margin-left: 10px;
  border-radius: 7px;
}
