.divAll {
  width: 100%;
  height: auto;
}

.divImage {
  width: 30%;
  float: left;
}

.divPhai {
  width: 70%;
  float: right;
}

.orders {
  box-shadow: 2px 2px #dadada;
  height: 50px;
  line-height: 60px;
  border-radius: 10px;
}
