.divAll {
  width: 100%;
  height: auto;
}

.divImage {
  width: 30%;
  float: left;
}

.divPhai {
  width: 70%;
  float: right;
}

.d-flex {
  display: flex !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.btn-primary {
  color: #212529;
  background-color: #FFD333;
  border-color: #FFD333;
}

.orders {
  box-shadow: 2px 2px #dadada;
  height: 50px;
  line-height: 60px;
  border-radius: 10px;
}
.giamgia{
  text-align: right;
}
.name{
  font-size: 17px;
}
