<div class="row">
  <h2 class="col-11">{{title}}</h2>
  <span class="col-1 fs-4" (click)="onDismiss()"><i class="fa-solid fa-xmark"></i></span>
</div>

<div class="row">
    <form class="example-form" [formGroup]="formGroup" >

      <div class="row">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Tên thương hiệu</mat-label>
          <input type="text" matInput formControlName="name">
        </mat-form-field>
        <mat-error
          *ngIf="formGroup.get('name')?.hasError('required') && formGroup.get('name')?.touched">
          Vui lòng không bỏ trống tên thương hiệu
        </mat-error>
        <mat-error
          *ngIf="formGroup.get('name')?.hasError('pattern') && formGroup.get('name')?.touched">
          Vui lòng không chứa ký tự đặc biệt ở tên thương hiệu
        </mat-error>
      </div>

      <mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="onSubmit()">
          <span>Lưu</span>
        </button>
        <button mat-raised-button color="warn" (click)="onDismiss()">
          <span>Đóng</span>
        </button>
      </mat-dialog-actions>
    </form>

</div>
