<div class="row">
  <h2 class="col-11">Quản lý thương hiệu</h2>
  <span class="col-1 fs-4" (click)="onDismiss()"><i class="fa-solid fa-xmark"></i></span>
</div>

<div class="row">
  <mat-dialog-content style="height: 150px">
    <form class="example-form">

      <div class="row">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Tên thương hiệu</mat-label>
          <input type="text" matInput>
        </mat-form-field>
      </div>

      <mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="onSubmit()">
          <span>Lưu</span>
        </button>
        <button mat-raised-button color="warn" (click)="onDismiss()">
          <span>Đóng</span>
        </button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>

</div>
