<div class="container-fluid">
  <div *ngIf="isLoading" class="loading">
    <div class="spinner-border text-black-50 spinner-center" role="status"></div>
  </div>
</div>

<!-- Breadcrumb Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-12">
      <nav class="breadcrumb bg-light mb-30 shadow-sm" style="border-radius: 5px;">
        <a class="breadcrumb-item text-dark" routerLink="/">Trang chủ</a>
        <span class="breadcrumb-item active">Sản phẩm chi tiết</span>
      </nav>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->


<!-- Shop Detail Start -->
<div class="container-fluid pb-5">
  <div class="row px-xl-5">
    <div class="col-lg-5 mb-30">
      <div id="product-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner bg-light shadow-sm" style="border-radius: 5px;">
          <div *ngIf="productDetail?.quantity == 0" class="out-of-stock-1">
            <div class="out-of-stock-2">Hết hàng</div>
          </div>
          <div class="carousel-item active">
            <img class="w-100 h-100" src="../../../assets/img/avtProduct/{{productDetail?.avatar}}" alt="Image">
          </div>
          <div class="carousel-item" *ngFor="let l of listImg">
            <img class="w-100 h-100" src="../../../assets/img/imgDetailProduct/{{l.name}}" alt="Image">
          </div>
        </div>
        <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
          <i class="fa fa-2x fa-angle-left text-dark"></i>
        </a>
        <a class="carousel-control-next" href="#product-carousel" data-slide="next">
          <i class="fa fa-2x fa-angle-right text-dark"></i>
        </a>
      </div>
    </div>

    <div class="col-lg-7 h-auto mb-30">
      <div class="h-100 bg-light p-30 shadow-sm" style="border-radius: 5px;">
        <h1><b>{{productDetail?.name}}</b></h1>
        <div class="d-flex">
          <h2 class="font-weight-semi-bold mb-4" *ngIf="loadDiscountProduct(productDetail?.id) != 0">{{loadDiscountProduct(productDetail?.id) | number}}đ</h2>
          <h3 class="font-weight-semi-bold mb-4 ml-3" *ngIf="loadDiscountProduct(productDetail?.id) != 0" style="color: #9b9b9b">
            <del>{{ productDetail?.price | number }}₫</del>
          </h3>
          <h2 class="font-weight-semi-bold mb-4" *ngIf="loadDiscountProduct(productDetail?.id) == 0">{{productDetail?.price | number}}đ</h2>
        </div>
        <i class="fa-solid fa-minus"></i>
        <i class="fa-solid fa-minus"></i>
        <i class="fa-solid fa-minus"></i>
        <i class="fa-solid fa-minus"></i>
        <i class="fa-solid fa-minus"></i>

        <p class="mb-4"></p>
        <div class="d-flex mb-3">
          <strong class="text-dark mr-3">Số lượng còn lại:</strong>
          <span>{{productDetail?.quantity}}</span>
        </div>
        <div class="d-flex mb-3">
          <strong class="text-dark mr-3">Đối tượng sử dụng:</strong>
          <span>{{productDetail?.gender ? 'Nam' : 'Nữ'}}</span>
        </div>
        <div class="d-flex mb-3">
          <strong class="text-dark mr-3">Dòng sản phẩm:</strong>
          <span>{{productDetail?.product.name}}</span>
        </div>
        <div class="d-flex mb-3">
          <strong class="text-dark mr-3">Thương hiệu:</strong>
          <span>{{productDetail?.brand.name}}</span>
        </div>
        <div class="d-flex mb-3">
          <strong class="text-dark mr-3">Chất liệu:</strong>
          <span>{{productDetail?.material.name}}</span>
        </div>
        <div class="d-flex mb-4">
          <strong class="text-dark mr-3">Xuất xứ:</strong>
          <span>{{productDetail?.origin.name}}</span>
        </div>
        <div class="d-flex align-items-center mb-2 pt-2" *ngIf="productDetail?.quantity > 0">
          <div class="input-group quantity mr-3" style="width: 130px;">
            <input min="1" onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'" type="number" class="form-control bg-secondary border-0 text-center" name="slSP" [(ngModel)]="slSP">
          </div>
          <button (click)="addToCart(productDetail.id)" class="btn btn-primary px-3"><i
            class="fa fa-shopping-cart mr-1"></i> Thêm vào giỏ hàng
          </button>
        </div>
        <p style="color: red; font-size: 11px" *ngIf="checkSl">Số lượng nhập vào vượt quá số lượng hiện có!</p>
        <div class="d-flex pt-2">
          <strong class="text-dark mr-2">Chia sẻ:</strong>
          <div class="d-inline-flex">
            <a class="text-dark px-2" href="">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a class="text-dark px-2" href="">
              <i class="fab fa-twitter"></i>
            </a>
            <a class="text-dark px-2" href="">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a class="text-dark px-2" href="">
              <i class="fab fa-pinterest"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row px-xl-5">
    <div class="col">
      <div class="bg-light p-30 shadow-sm" style="border-radius: 5px;">
        <div class="nav nav-tabs mb-4">
          <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Mô tả dòng sản phẩm</a>
          <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Mô tả sản phẩm</a>
        </div>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="tab-pane-1">
            <h4 class="mb-3"><b>Mô tả dòng sản phẩm</b></h4>
            <p>{{productDetail?.product.description}}</p>
          </div>
          <div class="tab-pane fade" id="tab-pane-2">
            <h4 class="mb-3"><b>Mô tả sản phẩm</b></h4>
            <p>{{productDetail?.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Shop Detail End -->

<!-- Products Start -->
<div class="container-fluid py-5" *ngIf="listSimilarProduct.length > 0">
  <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Sản phẩm liên quan</span>
  </h2>
  <div class="container-fluid" style="width: 96%">
    <ngx-slick-carousel class="carousel p-0 position-relative" #slickModal="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem class="mx-2" *ngFor="let p of listSimilarProduct">
          <div class="product-item bg-light mb-4 shadow-sm" style="border-radius: 5px">
            <div class="product-img position-relative overflow-hidden" style="border-radius: 5px">
              <span *ngIf="loadDiscountProduct(p.id) != 0" class="item-child badge badge-danger">Giảm {{loadPercentProduct(p.id)}}%</span>
              <img class="img-fluid w-100" src="../../../assets/img/avtProduct/{{ p.avatar }}" alt=""/>
              <div class="product-action">
                <a class="btn btn-outline-dark btn-square" (click)="addToCart(p)"><i class="fa fa-shopping-cart"></i></a>
                <a class="btn btn-outline-dark btn-square" (click)="showDetail(p.id)" href="javascript:void(0)"><i
                  class="fa-regular fa-eye"></i></a>
              </div>
            </div>
            <div class="text-center py-4">
              <a class="h6 text-decoration-none text-truncate name-product" [routerLink]="['/product-detail',p.id]">{{ p.name }}</a>
              <div class="d-flex align-items-center justify-content-center mt-2">
                <h5 *ngIf="loadDiscountProduct(p.id) == 0">{{ p.price | number }}₫</h5>
                <h5 *ngIf="loadDiscountProduct(p.id) != 0">{{loadDiscountProduct(p.id) | number}}₫</h5>
                <h5 *ngIf="loadDiscountProduct(p.id) != 0" class="text-muted ml-2">
                  <del>{{ p.price | number }}₫</del>
                </h5>
              </div>
            </div>
          </div>
      </div>
    </ngx-slick-carousel>
  </div>
</div>
  <!-- Products End -->

