<div class="d-flex justify-content-between">
  <h4 class="font-weight-bold">{{ title }}</h4>
  <i class="fa-solid fa-xmark" (click)="onDismiss()"></i>
</div>

<div class="my-4 d-flex justify-content-sm-center">
  <label>{{message}}</label>
</div>

<div class="text-center">
  <button (click)="onConfirm()" class="editBtnSubmit mr-2">
    <span><i class="fa-solid fa-check"></i> Xác nhận</span>
  </button>
  <button (click)="onDismiss()" class="editBtnClose">
    <span><i class="fa-solid fa-xmark"></i> Đóng</span>
  </button>
</div>

