<<<<<<< HEAD
/*body{*/
/*  width: 200px;*/
/*}*/
=======
>>>>>>> bac3d2e2ab54d314a204d6e16df3b420e3e8707a
/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(221, 214, 214);
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(-45deg, #fd7e14, #ffc107, #28a745);
  border-radius: 50px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
